/* 네비게이션 바 스타일 */
.navbar {
  background-color: #434547; /* 스팀의 어두운 파란색 배경 */
  color: #d1d5db; /* 밝은 회색 텍스트 */
  padding: 10px 20px;
}

/* 네비게이션 바의 브랜드(로고) 스타일 */
.navbarBrand {
  font-weight: bold;
  font-size: 1.7rem; /* 로고 크기 */
  color: #00b0b9; /* 스팀 스타일의 청록색 로고 */
  text-decoration: none;
  margin-right: 20px; /* 로고와 오른쪽 항목 사이에 여백 추가 */
}

.navbarBrand:hover {
  color: #009595; /* 호버 시 청록색 어두운 버전으로 변경 */
}

/* 네비게이션 링크 스타일 */
.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #d1d5db; /* 연한 회색 텍스트 */
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00b0b9; /* 마우스 오버 시 청록색으로 변경 */
}

/* 드롭다운 메뉴 스타일 */
.dropdownMenu {
  background-color: #2a3c49; /* 어두운 블루로 배경 설정 */
  border-radius: 0.5rem; /* 드롭다운 모서리 둥글게 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 드롭다운 그림자 */
}

/* 드롭다운 항목 스타일 */
.dropdownItem {
  color: #d1d5db; /* 드롭다운 항목의 텍스트 색상 */
  font-size: 1rem;
}

.dropdownItem:hover {
  background-color: #3a4a59; /* 어두운 회색으로 변경 */
  color: #00b0b9; /* 선택된 항목은 청록색 */
}

/* 검색창 스타일 */
.formControl {
  border-radius: 20px;
  border: 1px solid #00b0b9; /* 청록색 테두리 */
  background-color: #2c3e50; /* 어두운 회색 배경 */
  color: #ecf0f1; /* 밝은 회색 텍스트 */
}

.formControl:focus {
  border-color: #00b0b9; /* 포커스 시 청록색 테두리 */
}

/* 검색 버튼 스타일 */
.btnOutlineSuccess {
  border-radius: 20px;
  border-color: #00b0b9; /* 청록색 버튼 테두리 */
  color: #00b0b9; /* 버튼 텍스트 색상 */
}

.btnOutlineSuccess:hover {
  background-color: #00b0b9; /* 버튼 호버 시 배경색 */
  color: white; /* 텍스트 색상 흰색 */
}

/* 반응형 처리: 모바일에서 네비게이션이 풀다운 형태로 보이게 하기 */
@media (max-width: 992px) {
  .navbarToggler {
    border-color: #d1d5db; /* 햄버거 메뉴 아이콘 색상 */
  }

  .navbarTogglerIcon {
    background-color: #d1d5db; /* 햄버거 메뉴 아이콘 색상 */
  }

  .navbarCollapse {
    background-color: #1b2838; /* 모바일에서 열렸을 때 네비게이션 배경색 */
    border-radius: 0 0 0.5rem 0.5rem; /* 모서리 둥글게 */
  }
}
