/* 전체 페이지 배경 색상 */
.detailContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  color: rgb(255, 255, 255); /* 텍스트 색상을 흰색으로 설정 */
  background-color: #2c3e50; /* 어두운 회색 배경 */
  min-height: 100vh;
  margin: 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* 기본적인 게임 상세 정보 */
.gameDetails {
  padding: 20px;
}

/* 로딩 텍스트 */
.loadingText {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* 게임 제목 */
.gameTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  color: #fff;
  background-color: #444; /* 어두운 회색 배경 */
  border-radius: 5px;
}

/* 게임 헤더 이미지와 제목을 함께 보기 좋은 크기로 배치 */
.gameHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* 이미지와 제목 간의 간격 */
  margin-bottom: 20px;
}

/* 게임 헤더 이미지 */
.gameHeaderImage {
  width: 100%;
  max-width: 350px; /* 원하는 최대 너비로 설정 */
  height: auto; /* 자동 높이 조정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 잘라서 맞춤 */
  border-radius: 8px;
  margin-left: auto;
}

/* 게임 짧은 설명 */
.shortDescriptionContainer {
  margin-top: 20px;
  background-color: rgba(33, 37, 41, 0.9); /* 짙은 회색 배경으로 변경 */
  padding: 20px;
  border-radius: 8px;
  background-size: cover; /* 배경 크기 조정 */
  background-position: center; /* 배경 위치 설정 */
  color: #fff; /* 텍스트 색상 흰색으로 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 섹션에 부드러운 그림자 추가 */
}

.shortDescriptionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9); /* 제목 색상 어두운 회색 */
}

.gameShortDescription {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #fff; /* 짧은 설명 텍스트 색상 흰색으로 변경 */
}

/* 게임 상세 설명 */
.detailedDescriptionContainer {
  margin-top: 20px;
  background-color: rgba(33, 37, 41, 0.9); /* 짙은 회색 배경으로 변경 */
  padding: 20px;
  border-radius: 8px;
  background-size: cover; /* 배경 크기 조정 */
  background-position: center; /* 배경 위치 설정 */
  color: #fff; /* 텍스트 색상 흰색으로 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 섹션에 부드러운 그림자 추가 */
}

.detailedDescriptionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9); /* 제목 색상 어두운 회색 */
}

.gameDescription {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #fff; /* 상세 설명 텍스트 색상 흰색으로 변경 */
}

/* 출시일 */
.releaseDate {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 20px;
}

/* 게임 웹사이트 링크 */
.websiteLink {
  font-size: 1.1rem;
  color: #00b0f0; /* 스팀에서 사용하는 파란색 계열 */
  text-decoration: none;
}

.websiteLink:hover {
  text-decoration: underline;
}

/* 미디어 섹션 */
.mediaSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  background-color: #444; /* 어두운 회색 배경 */
  border-radius: 10px;
  padding: 10px;
}

/* 스크린샷 */
.screenshotWrapper {
  width: 48%;
}

.screenshotImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* 동영상 */
.movieWrapper {
  width: 48%;
}

.gameVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* 네비게이션 버튼 */
.navButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.navButton:hover {
  background-color: #666;
}

/* 오류 메시지 */
.errorText {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}
